<div class="card text-center">
  <div class="card-body">
    <img  class="card-title" src="/img/logo.png">
    <p class="card-text">Bienvenido a PreguntadORT! Te proponemos un jugeo interactivo donde desafiarás tus conocimientos. ¡Animate!</p>
    
    <a class="btn --bs-$purple-600 nav-link active" href='@Url.Action("Comenzar")'>Comenzar a Jugar</a>
    <a href="#" class="btn $purple-600">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>